/*
    该文档存放所有自定义的CSS
*/

body {
    font-size: 12px;
}

#collapseOne button {
    text-align: center;
    margin: 5px;
}

#mapConsole {
    box-shadow: 3px 4px 3px 0px silver;
    position: relative;
    width: 15%;
    height: 100%;
    border-radius: 4px;
}

#accordion {
    width: 100%;
    height: 100%;
}

#navbar button {
    margin-right: 10px;
}

#logo {
    height: 30px;
    width: 40px;
}
#select{
    width: 200px;
    weight:50px;
}
#dxyBtn{
    margin-right: 30px;
    width:50px;
}
.costRatePanel {
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 20%;
    right: 8%;
    z-index:9999;
}
.tipsPanel{
    position: absolute;
    width:45%;
    height: auto;
    bottom: 0.1%;
    right: 1%;
    z-index:9999;
}
.costRatePanel input {
    /*border-radius: 5px;*/
    /*margin: 5px;*/
    /*border: none;*/
    font-size: 10px;
    /*width: 100px;*/
    /*height: 30px;*/
}
.costRatePanel span {
    /*margin: 5px;*/
    /*border-radius: 5px;*/
    /*border: none;*/
    font-size: 5px;
    /*width: 100px;*/
    /*height: 20px;*/
}


