<div id="mapContainer"></div>
<nav id="navbar" class="navbar navbar-transparent navbar-fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand pull-left" href="" disabled="disabled">
            <img alt="Brand" style="margin-top:-4px;" id="logo" class="img-thumbnai" src="images/logo.png">
        </a>
        <button type="button" id="start" class="btn btn-default navbar-btn pull-left" data-toggle="modal"
                data-target="#startVesselModal">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button type="button" id='sendGoods' class="btn btn-default navbar-btn pull-left  " data-toggle="modal"
                data-target="#sendGoodsModal">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </button>
        <button type="button" id="menubtn" class="btn btn-default navbar-btn pull-left" data-toggle="collapse"
                data-target="#mapConsole">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <span class="navbar-text label label-default pull-left">Current Cost</span></td>
        <input type="text" class="navbar-text" id="currentCost" readonly="readonly" ng-model="currentCost">
        <span class="navbar-text label label-default pull-left">Initial Cost</span></td>
        <input type="text" class="navbar-text" id="initialCost" readonly="readonly" ng-model="initialCost">
    </div>
    <div>

    </div>
</nav>
<div class="modal" id="sendGoodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    选择货物
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control input-sm" ng-model="sp_name">
                        <option value="缸盖">缸盖</option>
                        <option value="螺丝" selected="selected">螺丝</option>
                        <option value="钢筋">钢筋</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal" id="startVesselModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="startVesselModalLabel">
                    选择轮班
                </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td><span class="input-group-addon">船员:</span></td>
                        <td><input id="sailor" class="form-control" ng-model="sailor"/></td>
                    </tr>
                    <tr>
                        <td><span class="input-group-addon">船号:</span></td>
                        <td><input id="V_id" class="form-control" ng-model="vid"/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="startVessel()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div id="mapConsole" class="collapse pull-left">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary btn-block" data-toggle="collapse"
                        data-target="#collapseOne" data-parent="accordion">Supplier-Manager
                </button>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td><span class="input-group-addon">Manager:</span></td>
                            <td><input type="text" class="form-control" id="startPointSearch" placeholder="请输入关键字"
                                       value="宁波"></td>
                        </tr>
                        <tr>
                            <td><span class="input-group-addon">Supplier:</span></td>
                            <td><input type="text" class="form-control" id="endPointSearch" placeholder="请输入关键字"
                                       value="广州"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary btn-block" data-toggle="collapse"
                        data-target="#collapseTwo" data-parent="accordion">Vessel
                </button>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td><span class="input-group-addon">延误:</span></td>
                            <td><input type="number" class="form-control" id="delayHour" placeholder="请输入关键字"
                                       value=0></td>
                        </tr>
                        <tr>
                            <td><span class="input-group-addon">延期:</span></td>
                            <td><input type="number" class="form-control" id="postponeHour" placeholder="请输入关键字"
                                       value=0></td>
                        </tr>
                        <tr>
                            <td><span class="input-group-addon">船号:</span></td>
                            <td><input type="text" class="form-control" id="dpVid" placeholder="请输入关键字"
                                       value="413362260"></td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-primary pull-right" id="dxyBtn" data-toggle="collapse"
                            data-target="#collapseTwo" ng-click="setDxy()">
                        OK
                    </button>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary btn-block" data-toggle="collapse"
                        data-target="#collapseThree" data-parent="accordion">控制台3
                </button>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Test
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary btn-block" data-toggle="collapse"
                        data-target="#collapseFour" data-parent="accordion">控制台4
                </button>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Test
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info costRatePanel"  ng-if = "costRatePanelShow == true" >
    <div class="panel-heading">
        <span class="panel-title pan"><strong>Decision-Making Benefits</strong></span>
    </div>
    <div class="panel-body" style = "margin-bottom:-30px">
        <div>
            <table class="table table-bordered" style="text-align: center;" ng-if = "policy == 'variable-destination'" >
                <thead >
                <tr>
                    <th width="30%"  style="text-align: center;" ><strong>Event</strong></th>
                    <td colspan="2" >{{eventType}}</td>
                </tr>
                <tr>
                    <th width="30%"  style="text-align: center;" ><strong>Policy</strong></th>
                    <td colspan="2">{{policy}}</td>
                </tr>
                <tr >
                    <th  style="text-align: center;" >C0</th>
                    <th  style="text-align: center;" >C1</th>
                    <th  style="text-align: center;" >C2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{C0}}</td>
                    <td>{{C1}}</td>
                    <td>{{C2}}</td>
                </tr>

                <tr>
                    <th width="30%"><span class="label label-primary">1-(C1/C0)</span></th>
                    <td colspan="2" id="C1C0">{{C1C0}}</td>
                </tr>
                <tr>
                    <th width="30%"><span class="label label-danger">1-(C2/C1)</span></th>
                    <td  colspan="2" id="C2C1" >{{C2C1}}</td>

                </tr>
                </tbody>
                <tr>
                    <th width="30%"><span class="label label-success">1-(C2/C0)</span></th>
                    <td colspan="2" id="C2C0" >{{C2C0}}</td>
                </tr>
                <tbody>
            </table>
            <table class="table table-bordered" style="text-align: center;"  ng-if = "policy == 'fixed-destination'">
                <thead >
                <tr>
                    <th width="30%"  style="text-align: center;" ><strong>Event</strong></th>
                    <td colspan="2" >{{eventType}}</td>
                </tr>
                <tr>
                    <th width="30%"  style="text-align: center;" ><strong>Policy</strong></th>
                    <td colspan="2">{{policy}}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="30%"><span class="label label-danger">Risk Cost</span></th>
                    <td colspan="2" ><lable type="text" id="riskCost">{{riskCost}}</lable></td>
                </tr>
                <tr>
                    <th width="30%"><span class="label label-primary">Total Cost</span></th>
                    <td colspan="2" ><lable type="text" id="totalCost">{{totalCost}}</lable> + <lable type="text" id = "addRiskCost">{{addRiskCost}}<label/></td>
                </tr>
                <tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer pill-pane">
    </div>
</div>

<div class="panel panel-info tipsPanel" ng-if = "costRatePanelShow == true">
    <div class="panel-body" style = "margin-bottom:-30px">
        <div>
        <table class="table table-hover" style="text-align: center;" >
            <tbody ng-if = "policy == 'variable-destination'">
            <tr>
                <th style="color: blue">1-(C1/C0)</th>
                <td colspan="2">Before decision-making, benefits comparison before and after change.</td>
            </tr>
            <tr>
                <th style="color: red">1-(C2/C1)</th>
                <td  colspan="2"> After change，benefits comparison before and after decision making.</td>

            </tr>
            <tr>
                <th style="color: green">1-(C2/C0)</th>
                <td colspan="2">After decision-making, benefits comparison before and after change.</td>
            </tr>
            </tbody>
            <tbody  ng-if = "policy == 'fixed-destination'">
            <tr>
                <th style="color: red;text-align: center">Comment</th>
                <td colspan="2"  style="text-align: left;">If policy is fixed-destination, supplier might have a higher risk of penalty for missing delivery, but cheaper freight.</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>